.page-header {
  font-size: 2.5rem;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

/* 404 header */
.not-found-header {
  font-family: var(--header-font);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    /* Mobile-specific adjustments */
    // @media (max-width: 600px) {
    //     flex-direction: column;
    // }

    /* title and socials */
    .left-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      font-size: 1.5rem;

      .socials {
        /* flex-container */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 8px;

        .social img {
          width: 16px;
          height: 16px;

        }

        /* Don't display background on hover */
        a:hover {
            background-color: transparent;
        }
      }
    }

    /* navigation + theme toggle */
    .right-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;

        @media(max-width: 500px) {
          flex: 0 0 100%;
          order: 2;
        }

        @media(max-width: 250px) {
          flex: 1;
          order: 0;
        }
    }

    .search-nav {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}

/* TODO: Is this still used? */
.logo {
  border-bottom: unset;
  background-image: unset;

  > img {
    border: unset;
    width: auto;
    height: 24px;
    vertical-align: middle;
  }

  &:hover {
    background-color: transparent;
  }
}

/* TODO: Is this still used? */
.meta {
  color: #999;
  display: flex;
  gap: 0.5ch;
  align-items: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace var(--header-font);
  margin-top: 2rem;
  text-wrap: balance;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3,h4 {
  font-size: 1.2rem;
}

h5,h6 {
  font-size: 1.1rem;
}

h5,
h6 {
  text-align: center;
}

h1::before {
  color: var(--primary-color);
  content: "# ";
}

h2::before {
  color: var(--primary-color);
  content: "# ";
}

h3::before {
  color: var(--primary-color);
  content: "## ";
}

h4::before {
  color: var(--primary-color);
  content: "### ";
}
